/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

////////////// EXPENSE //////////////

#expense-index {
  .each-expense {
    display: inline-block;
    margin: 2%;
    background-color: lightgrey;
    font-size: 2rem;

    .each-header {
      background-color: grey;
      padding: 2%;
    }
  }
}


////////////// MONTH //////////////

#month-index {
  .each-month {
    padding: 1%;
    margin: 1%;
    background-color: lightgrey;
    width: 30%;
    display: inline-block;
  }
}

#month-new {
}

#month-show {

  .income-div, .expense-div {
    background-color: lightgrey;
    height: 100%;
  }

  .bills, .pay {
    margin: 2% 1%;

  }

  .bills {
    background-color: red;
  }

  .pay {
    background-color: green;
  }

}

////////// HTML ELEMENTS ////////////
body {
  text-align: center;
}
